body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 220, 125);
}
@font-face {
    font-family: ArcadeClassic;
    src: url(ARCADECLASSIC);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 3em;
    margin: 0 auto;
}

#gameContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
    height: 850px;
    background-image: url("pixel\ landscape.jpg");
    position: relative;
    overflow: hidden;
}
/*************** PLAYER ***************/
#pikachuGIF {
    position: absolute;
}
/*************** OBSTACLES WATER ***************/
#Diglett {
    position: absolute;
}
/*************** PIKACHU LIVES ***************/
#pikachuLife1 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
#pikachuLife2 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
#pikachuLife3 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
 
    50% {
        transform: translateY(-10px);
    }
 
    100% {
        transform: translateY(0);
    }
 }
 /*************** OBSTACLES POKEBALLS ***************/

#pokeball {
    position: absolute;
}
#pikachuenergy1 {
    position: absolute;
   /* width: 40px;
    height: 60px; */
}
#pikachuenergy2 {
    position: absolute;
}
#pikachuenergy3 {
    position: absolute;
}