body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 220, 125);
}
@font-face {
    font-family: ArcadeClassic;
    src: url(../ARCADECLASSIC.TTF);
}
/*
h1 {
    display: flex;
    justify-content: center;
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 3em;
    margin: 0 auto;
}
*/
#gameContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 55px;
    width: 80vw;
    height: 850px;
    background-image: url("pixel\ landscape.jpg");
    position: relative;
    overflow: hidden;
}
/*************** PLAYER ***************/
#pikachuGIF {
    position: absolute;
}
/*************** OBSTACLES WATER ***************/
#Diglett {
    position: absolute;
}
/*************** PIKACHU LIVES ***************/
#pikachuLife1 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
#pikachuLife2 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
#pikachuLife3 {
    position: absolute;
    animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
 
    50% {
        transform: translateY(-10px);
    }
 
    100% {
        transform: translateY(0);
    }
 }
 /*************** ENERGY POKEBALLS ***************/

#pokeball {
    position: absolute;
}

#pikachuenergy1 {
    position: absolute;
   /* width: 40px;
    height: 60px; */
}
#pikachuenergy2 {
    position: absolute;
}
#pikachuenergy3 {
    position: absolute;
}
p { 
    position: absolute;
    font-family: ArcadeClassic;
    font-size: 4em;
    color: rgb(230, 200, 117);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(214, 146, 0);
    text-shadow: rgb(255, 255, 255) 3px 0px 10px;;
    /*text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;*/
}
#score {
    margin: 30px auto;
    padding-right: 30px;
}
#numbersScore {
    margin: 90px auto;
    padding-right: 30px;
}

 /*************** OBSTACLES PIDGEYS ***************/

 #pidgey {
    position: absolute;
    animation: moveUpDown 2s infinite;
 }
  /*************** SHOOTING LIGHTNINGS ***************/
 #lightning {
    position: absolute;
 }
   /*************** MUTE / UNMUTE BUTTONS + BACK TO START ***************/
#mute {
    width: 5vw;
    position: absolute;
    top: 50vh;
    left: 45px;
    display: block;
}
#unmute {
    width: 5vw;
    position: absolute;
    top: 50vh;
    left: 45px;
    display: none;
}
#mute:hover{
    margin-top: -5px;
}
#unmute:hover{
    margin-top: -5px;
}

#backToStart{
    position: absolute; 
    top: 50vh;
    right: 48px;
    width: 95px;
    height: 95px;
    background-color: #ececec00;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 1.5em;  
}
#backToStart:hover{
    margin-top: -5px;
}