body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 220, 125);
}
@font-face {
    font-family: ArcadeClassic;
    src: url(ARCADECLASSIC);
}
h1 {
    display: flex;
    justify-content: center;
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 4em;
    margin: 4vh auto 0 auto;
}
img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-right: 50px;
}
h2{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 2.2em;
}
#instructions{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}
p{
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);      
    text-align: justify;
    font-size: 1.4em;
    margin: 10px auto;
}
/*
button {  
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid rgb(58, 58, 58);
    font-family: ArcadeClassic;
    color: rgb(58, 58, 58);
    font-size: 30px;
    background-color: rgb(253, 230, 166);
    padding: 15px 32px;   
    border-radius: 10px;
}
button:hover {
    background-color: rgb(248, 147, 32);
    color: white;
}
a {
    text-decoration: none;
}
*/
#keysKeyboard{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    padding-left: 43px;
}

#gameboy {
    display: flex;
    justify-content: center;
    height: 25vh;
    margin: 30px auto;
    padding-left: 40px;
}
#gameboy:hover {
  margin-top: -10px;
}